/*login page css*/
/* .loginContainer{
	height:650px;
	position: absolute;
	width: 100%;
	height: 100%;
} */
.fromContainer{
  font-family: sans-serif;
  box-shadow: 0px 0px 7px 2px #575858;
  background-color: #fff;
  width: 90%;
  float: right;
}
.loginBody{
  background-image: linear-gradient(to right, #03A9F4 , #009688);
  height: 1px;
  width: 100%;
}
#idlogin{
  margin-top: 10%;
}
.smbLogo{
  text-align: center;
}
.smbLogo img{
  width: 30%;
  height: 100%;
}
.loginHead{
  background-color: #53a7e1;
  padding: 10px 21px;
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  box-shadow: 0px 3px 4px -1px #9E9E9E;
}
.loginDetails{
  color: #fff;
  text-align: center;
  width: 180px;
}
.UserDetails{
  height: 56px;
}
.userSetting{
  cursor: pointer;
  color: blue;
}
.mySettingLanguage,.mySettingFrom{
  width: 60%;
}
.clearfix{
  margin: 10px;
}
.languageList{
  padding: 10px 20px;
    border-radius: 30px;
    margin: 10px;
    box-shadow: 0px 0px 4px 2px #eee;
}
.userBox,.passBox,.answerBox{
  display: flex;
}
.userName,.password,.answer,.number,.equal,.otpText,.setUserIdText,.userNewPassText,.userConfrimPassText,.userMPinText,.userConfrimMPinText{
  width: 30%;
  padding: 7px 0;
  font-size: 16px;
}
.otpText{width: 61%;}
.userNewPassText{width: 80%;}
.userConfrimPassText{width: 61%;}
.userMPinText,.userConfrimMPinText{width: 50%;}

.answer{width: 30%;}
.number{margin-left: 20px;}
.equal{width: 5%;}
#idAns{width: 40%;}
.refresh{
  font-size: 25px;
    margin-left: 8px;
}
.inputBox{
  display: flex;
}
#idFrom{
  padding: 30px 30px;
}
.goBtn{
  background-color: #53a7e1;
  padding: 10px 30px;
  border-radius: 20px;
  color: #fff;
}
.goBtn:hover{
  color: #fff;
  background-color: #eea01e;
  transition: background-color 0.2s;
}
.newSignUp{
  color: #5e76d9;
  cursor: pointer;
}
.newSignUp:hover{
  text-decoration: none;
}
.signUpBtn{
  background-color: #53a7e1;
  color: #fff;
  padding: 10px 25px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  width: 50%;
}
.signUpToContinue{
  display: none;
  background-color: #fff;
}
.verify{
  background-color: #53a7e1;
  width: 50%;
  border-radius: 30px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}
.verify:hover{
  background-color: #eea01e;
  transition: background-color 0.2s;
}
.createAccount{
  background-color: #53a7e1;
  width: 50%;
  border-radius: 30px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}
.createAccount:hover{
  background-color: #eea01e;
  transition: background-color 0.2s; 
}
.userCredentials{
  display: none;
  background-color: #fff;
}
.signUpBtn:hover{
  color: #fff;
  background-color: #eea01e;
  transition: background-color 0.2s;
}
.logoText{
  margin-top: 130px;
}
.welcomeText{
  color: #fff;
  font-size: 60px;
  font-family: sans-serif;
  font-weight: 600;
  text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
.welcomeText span{
  color: #eea01e;
}
.signUpContainer{
  background-color: #fff;
  font-size: 24px;
  color: #333;
  width: 90%;
  float: right;
  box-shadow: 0px 0px 7px 2px #575858;
  display: none;
}
.selectBox,.newUserBox,.conactNo,.UserOpt,.setUserId,.userOtp,.userNewPass,.userConfrimPass,.userMPin,.userConfrimMPin{
  display: flex;
}
.language,.newUser,.phoneNo{
  font-size: 18px;
  width: 30%;
}
/* .selectInput,#newUserName,#number,#otp{
  width: 220px;
} */
.checkbox{
  font-size: 18px;
}
.loginsignUp{
  font-size: 18px;
}
.loginFooter{
  background-color: aliceblue;
  padding: 5px 10px;
  border-radius: 20px;
}

/*home page css*/
.mainContainer{
	position: relative;
	width: 100%;
	height: 100%;
}
/*Menu Css*/
.menuSection{
	background-image: linear-gradient(to right, #213576 , #1b7fbb);
	padding: 5px;
	width: 100%;
	height: auto;
	position: relative;
}
.logo img{
    width: 12%;
    height: 100%;
}
.logo span{
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  text-shadow: 0 1px 0 #ccc, 
                0 1px 0 #c9c9c9,
                0 1px 0 #bbb,
                0 1px 0 #b9b9b9,
                0 1px 0 #aaa,
                0 1px 1px rgba(0,0,0,.1),
                0 0 1px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
}
.logo .bills{
  color: #eb7d27;
}
.UserHover{
	cursor: pointer;
}
.downArrow{
    transform: rotate(89deg);
    margin-top: 18px;
    font-size: 10px;
    color: #ffbf00;
}
.notificationIcon{
	margin-right: 10px;
}
.userIcon{
    border-radius: 40px;
    padding: 12px;
}
.userIconDeactive{
	border: 2px solid #ffd65c;
	color: #464a4c;
    background: #3faade;
}
#userDetailsIcon{
  float: right;
  margin-top: 10px;
}
.UserHover:hover .userIcon{
	border: 2px solid #eceeef;
	background-color: #5cb85c;
	color: #292b2c96;
}
.UserHover:hover .downArrow{
	color: #fff;
}
.activeUserIcon{
	border: 2px solid #bc802c;
    background-color: #ccc;
    color: #d9534f;	
}
.activeDownArrow{
	color: #d9534f;
}
.userPanel{
	display: none;
	background: #fff;
    position: absolute;
    box-shadow: 0px 0px 7px 2px #464a4c;
    padding: 20px;
    width: 15%;
    top: 70px;
    right: 3.2%;
    z-index: 1;
}
.userPanelIcon{
	background: #31b0d5;
    padding: 10px;
    border-radius: 40px;
    border: 2px solid #025aa5;
    color: #ccc;
    position: absolute;
    right: 20px;
}
.upArrow{
	text-align: center;
    position: absolute;
    top: -18px;
    width: 100%;
    left: 0;
    font-weight: 700;
    color: #fff
}
.userDetails{
  float: right;
  height: 60px;
}
.userPanelName{float: left;line-height: 20px;}
.htLine{
	background-color: #2fb5f282;
}
.userEditProfile,.companySetting,.languageSetting{
  color:blue;
  cursor: pointer;
}
.userEditProfile:hover,.companySetting:hover,.languageSetting:hover{
  color:#e96529;
  cursor: pointer;
}
.myprofileInput{width: 60%;}
#location{width: 80%;float: left;}
.fa-globe{float: right;
  padding: 11px;
  color: #673AB7;}
.closeBtn{
	position: absolute;
    right: 3px;
    top: -3px;
    font-weight: 700;
    color: #464a4cc4;
    cursor: pointer;
}
.closeBtn:hover{
	color: #d27f0a;
}

/*Footer*/
.pageFooter{
  background-color: #223576;
  height: 70px;
  padding: 10px;
  width: 100%;
  color: #fff;
}
.footerIcon{
  float: left;
  margin-top: 10px;
}
.footerIcon img{
  width: 15%;
  height: 100%;
}
.footerText{
  margin-top: 19px;
}
.about{
  color: #50c9ff;
}
.about:hover{
  color: #e85a2a;
  transition: color .3s;
}
.termsAndServices{
  float: right;
}